*.png filter=lfs diff=lfs merge=lfs
*.wav filter=lfs diff=lfs merge=lfs
*.jpg filter=lfs diff=lfs merge=lfs
*.jpeg filter=lfs diff=lfs merge=lfs
*.bmp filter=lfs diff=lfs merge=lfs
*.tga filter=lfs diff=lfs merge=lfs
*.dds filter=lfs diff=lfs merge=lfs
*.mp3 filter=lfs diff=lfs merge=lfs
*.ogg filter=lfs diff=lfs merge=lfs
*.edm filter=lfs diff=lfs merge=lfs
*.zip filter=lfs diff=lfs merge=lfs
*.lods filter=lfs diff=lfs merge=lfs
*.max filter=lfs diff=lfs merge=lfs
*.pdf filter=lfs diff=lfs merge=lfs